In [2]:
import sys
from pathlib import Path

p = Path.cwd().resolve()
repo_root = next((parent for parent in [p] + list(p.parents) if (parent / ".git").exists()), None)
if repo_root is None:
    raise RuntimeError("Repo root not found. Open the repo folder in VS Code.")

sys.path.insert(0, str(repo_root))
print("Repo root:", repo_root)

Repo root: C:\Users\harri\OneDrive - Imperial College London\Year 3 Group Project\Group_Project_Y3

In [3]:
import numpy as np
import pandas as pd

**A - Average Monthly Gross Wages and Salaries - P2497:**

In [11]:
wage = pd.read_csv(repo_root / "raw/03_01_wage_data/03_01_p2497_avg_month_gross_wage.csv", delimiter=";")
wage.head()

,Code,Name,grand total;2002;[PLN],grand total;2003;[PLN],grand total;2004;[PLN],grand total;2005;[PLN],grand total;2006;[PLN],grand total;2007;[PLN],grand total;2008;[PLN],grand total;2009;[PLN],...,grand total;2017;[PLN],grand total;2018;[PLN],grand total;2019;[PLN],grand total;2020;[PLN],grand total;2021;[PLN],grand total;2022;[PLN],grand total;2023;[PLN],grand total;2024;[PLN],grand total;2025;[PLN],Unnamed: 26
0,201000,Powiat bolesławiecki,1873.59,1951.43,2027.29,2086.26,2153.06,2324.46,2476.41,2629.01,...,3901.94,4214.66,4545.34,4887.95,5461.94,6181.60,6871.28,7871.38,NaN,NaN
1,202000,Powiat dzierżoniowski,1703.68,1785.00,1837.06,1900.52,2028.86,2246.79,2489.40,2645.13,...,3825.15,4024.94,4484.28,4690.20,5127.97,5723.65,6459.49,7427.26,NaN,NaN
2,203000,Powiat głogowski,1868.60,1970.64,2045.52,2133.48,2276.38,2452.70,2647.38,2859.95,...,3918.42,4077.69,4427.98,4763.21,5171.28,5856.76,6660.00,7768.43,NaN,NaN
3,204000,Powiat górowski,1730.53,1743.33,1769.96,1857.89,1944.30,2101.60,2376.54,2464.05,...,3484.31,3815.89,3978.78,4432.40,4862.88,5423.11,6060.11,7343.09,NaN,NaN
4,205000,Powiat jaworski,1705.19,1766.69,1851.79,1888.36,2009.38,2193.68,2368.60,2506.86,...,3756.46,4029.64,4408.00,4932.98,5554.54,6142.84,7059.41,8025.17,NaN,NaN

In [15]:
df = wage.copy()

# Drop unnamed column
df.drop("Unnamed: 26", axis=1, inplace=True)

# Melt to long format
id_cols = ["Code", "Name"]
long = df.melt(
    id_vars=id_cols, 
    var_name="measure",
    value_name="value"
)

# Split measure into parts
parts = long["measure"].str.split(";", expand=True)
long["type"] = parts[0].str.strip()
long["year"] = pd.to_numeric(parts[1]).astype("Int64")

out = long.rename(
        columns={"Code": "code", "Name": "powiat"}
    ).loc[
        :, ["code", "powiat", "type", "year", "value"]
    ]

out.to_csv(repo_root / "cleaned/03_01_outcome_data/wage_powiat_p2497.csv")