In [2]:
import sys
from pathlib import Path

p = Path.cwd().resolve()
repo_root = next((parent for parent in [p] + list(p.parents) if (parent / ".git").exists()), None)
if repo_root is None:
    raise RuntimeError("Repo root not found. Open the repo folder in VS Code.")

sys.path.insert(0, str(repo_root))
print("Repo root:", repo_root)

Repo root: C:\Users\harri\OneDrive - Imperial College London\Year 3 Group Project\Group_Project_Y3

In [3]:
import numpy as np
import pandas as pd

Cleaning sex age

In [7]:
rusa = pd.read_csv(repo_root / "raw/03_01_registered_unemployment_data/03_01_p1946_unemployment_sex_age.csv", delimiter=";")
rusa.head()

,Code,Name,total;total;2000;[person],total;total;2001;[person],total;total;2002;[person],total;total;2003;[person],total;total;2004;[person],total;total;2005;[person],total;total;2006;[person],total;total;2007;[person],...,55 and more;females;2017;[person],55 and more;females;2018;[person],55 and more;females;2019;[person],55 and more;females;2020;[person],55 and more;females;2021;[person],55 and more;females;2022;[person],55 and more;females;2023;[person],55 and more;females;2024;[person],55 and more;females;2025;[person],Unnamed: 548
0,201000,Powiat bolesławiecki,8886.0,9218.0,8574.0,8803.0,7966.0,7066.0,5310.0,4049.0,...,83,69,66,96,70,42,48,44,50,NaN
1,202000,Powiat dzierżoniowski,10625.0,12016.0,12230.0,12436.0,12085.0,12292.0,10466.0,8083.0,...,148,102,112,100,97,92,80,94,113,NaN
2,203000,Powiat głogowski,7752.0,8664.0,9203.0,9009.0,7974.0,7255.0,5760.0,4123.0,...,179,156,104,111,116,91,90,89,76,NaN
3,204000,Powiat górowski,3833.0,4201.0,4264.0,4561.0,4270.0,3992.0,3418.0,2401.0,...,85,78,81,78,69,53,64,67,72,NaN
4,205000,Powiat jaworski,6254.0,6938.0,7166.0,7032.0,6206.0,5834.0,4654.0,3478.0,...,132,113,108,100,100,101,82,81,82,NaN

In [29]:
df = rusa.copy()

# Drop junk column
df.drop("Unnamed: 548", axis=1, inplace=True)

# Melt to long format
id_cols = ["Code", "Name"]
long = df.melt(
    id_vars=id_cols,
    var_name="measure",
    value_name="count"
)

# Split measure into parts
parts = long["measure"].str.split(";", expand=True)
long["age"] = parts[0].str.strip()
long["sex"] = parts[1].str.strip()
long["year"] = pd.to_numeric(parts[2]).astype("Int64")

out = long.rename(
        columns={"Code": "code", "Name": "powiat"}
    ).loc[
        :, ["code", "powiat", "year", "sex", "age", "count"]
    ]

out.to_csv(repo_root / "cleaned/03_01_outcome_data/ru_sex_age_p1946.csv")

Cleaning sex education

In [30]:
ruse = pd.read_csv(repo_root / "raw/03_01_registered_unemployment_data/03_01_p1947_unemployment_sex_ed.csv", delimiter=";")
ruse.head()

,Code,Name,total;total;2000;[person],total;total;2001;[person],total;total;2002;[person],total;total;2003;[person],total;total;2004;[person],total;total;2005;[person],total;total;2006;[person],total;total;2007;[person],...,"lower secondary, primary and incomplete primary;females;2017;[person]","lower secondary, primary and incomplete primary;females;2018;[person]","lower secondary, primary and incomplete primary;females;2019;[person]","lower secondary, primary and incomplete primary;females;2020;[person]","lower secondary, primary and incomplete primary;females;2021;[person]","lower secondary, primary and incomplete primary;females;2022;[person]","lower secondary, primary and incomplete primary;females;2023;[person]","lower secondary, primary and incomplete primary;females;2024;[person]","lower secondary, primary and incomplete primary;females;2025;[person]",Unnamed: 496
0,201000,Powiat bolesławiecki,8886.0,9218.0,8574.0,8803.0,7966.0,7066.0,5310.0,4049.0,...,180,159,158,233,223,108,101,128,149,NaN
1,202000,Powiat dzierżoniowski,10625.0,12016.0,12230.0,12436.0,12085.0,12292.0,10466.0,8083.0,...,302,248,195,242,221,188,216,238,264,NaN
2,203000,Powiat głogowski,7752.0,8664.0,9203.0,9009.0,7974.0,7255.0,5760.0,4123.0,...,323,317,232,243,227,225,209,203,199,NaN
3,204000,Powiat górowski,3833.0,4201.0,4264.0,4561.0,4270.0,3992.0,3418.0,2401.0,...,253,228,227,246,201,180,188,164,188,NaN
4,205000,Powiat jaworski,6254.0,6938.0,7166.0,7032.0,6206.0,5834.0,4654.0,3478.0,...,333,300,245,291,270,242,223,218,238,NaN

In [37]:
df = ruse.copy()

# Drop junk column
df.drop("Unnamed: 496", axis=1, inplace=True)

# Melt to long format
id_cols = ["Code", "Name"]
long = df.melt(
    id_vars=id_cols,
    var_name="measure",
    value_name="count"
)

# Split measure into parts
parts = long["measure"].str.split(";", expand=True)
long["education"] = parts[0].str.strip()
long["sex"] = parts[1].str.strip()
long["year"] = pd.to_numeric(parts[2]).astype("Int64")

out = long.rename(
        columns={"Code": "code", "Name": "powiat"}
    ).loc[
        :, ["code", "powiat", "year", "sex", "education", "count"]
    ]

out.to_csv(repo_root / "cleaned/03_01_outcome_data/ru_sex_ed_p1947.csv")